newlist = [expression for item in iterable if condition == True]

In [2]:
#1. Convert each word to uppercase
words = ["python", "java", "c++"]
ans = [x.title() for x in words]
ans

['Python', 'Java', 'C++']

In [3]:
#2. Square of numbers from 1 to 10
ans = [x**2 for x in range(1,11)]
ans

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
#3. Extract even numbers from a list
nums = [1, 2, 3, 4, 5, 6, 7, 8]
ans = [x for x in nums if x%2 == 0]
ans

[2, 4, 6, 8]

In [6]:
#4. Convert list of strings to title case
names = ["dhoni", "kohli", "rohit"]
ans = [x.capitalize() for x in names]
ans

['Dhoni', 'Kohli', 'Rohit']

In [8]:
#5. Filter out negative numbers
data = [5, -1, 0, -3, 8, 9, -4]
ans = [x for x in data if x<0]
ans

[-1, -3, -4]

In [10]:
#6. Create a list of (number, square) pairs
ans = [(x,x**2) for x in range(1,5)]
ans

[(1, 1), (2, 4), (3, 9), (4, 16)]

In [16]:
#7. Flatten a 2D list
matrix = [[1, 2], [3, 4], [5, 6]]
ans = []
for elem in matrix:
    for item in elem:
        ans.append(item)
ans

[1, 2, 3, 4, 5, 6]

In [18]:
ans1 = [x for item in matrix for x in item]
ans1

[1, 2, 3, 4, 5, 6]

In [20]:
#8. Extract vowels from a string
vowels = "aeiou"
text = "kashmir"
ans = [x for x in text if x in vowels]
ans

['a', 'i']

In [22]:
#9. Replace spaces with dashes in words using list comprehension
phrases = ["data science", "machine learning", "deep learning"]
ans = [x.replace(" ","-") for x in phrases]
ans

['data-science', 'machine-learning', 'deep-learning']

In [33]:
#10. Find the length of each word in a sentence
sentence = "Python is awesome"
list1 = sentence.split(" ")
ans = [len(x) for x in list1]
ans

[6, 2, 7]