**Python dictionaries are key indexed. ex: nameOfDict[key] will work**

In [6]:
mydict = {
    1: "Mohammad Areeb Ahmad",
    2: "Ricardo Kaka",
    3: "Lionel Messi",
    4: "Ronaldo"
}
mydict

{1: 'Mohammad Areeb Ahmad', 2: 'Ricardo Kaka', 3: 'Lionel Messi', 4: 'Ronaldo'}

In [7]:
# Check if dictionary is empty
if not mydict:
    print("Empty")
else:
    print("True")

True

In [8]:
record = {
    'name': 'Alice',
    'age': 30,
    'profession': 'Data Scientist',
    'skills': ['Python', 'SQL', 'Pandas']
}

In [9]:
# 1. get() : Safely access a key — no error if key doesn’t exist.
print(record.get('age'))              # 30
print(record.get('gender', 'N/A'))    # 'N/A'
print(record.get('degree'))           # None

30
N/A
None

In [10]:
#2. items() : Loop over keys and values.
for key, value in record.items():
    print(f"{key} : {value}")

name : Alice
age : 30
profession : Data Scientist
skills : ['Python', 'SQL', 'Pandas']

In [11]:
#3. keys()
print(record.keys())
print(list(record.keys()))

dict_keys(['name', 'age', 'profession', 'skills'])
['name', 'age', 'profession', 'skills']

In [12]:
#4. values()
print(record.values())
print(list(record.values()))

dict_values(['Alice', 30, 'Data Scientist', ['Python', 'SQL', 'Pandas']])
['Alice', 30, 'Data Scientist', ['Python', 'SQL', 'Pandas']]

In [13]:
#7. setdefault() : Set a default if key doesn’t exist.
record.setdefault("City","Delhi")
record

{'name': 'Alice',
 'age': 30,
 'profession': 'Data Scientist',
 'skills': ['Python', 'SQL', 'Pandas'],
 'City': 'Delhi'}

In [14]:
#8.fromkeys() : Make a new dict from a list of keys.
fields = ['name', 'age', 'gender']
empty_profile = dict.fromkeys(fields, None)
print(empty_profile)
# {'name': None, 'age': None, 'gender': None}

{'name': None, 'age': None, 'gender': None}

In [15]:
record_copy = record.copy()
print(record_copy)

{'name': 'Alice', 'age': 30, 'profession': 'Data Scientist', 'skills': ['Python', 'SQL', 'Pandas'], 'City': 'Delhi'}

In [16]:
#10. .pop() :Removes the specified key from the dictionary and returns its value.
record = {'name': 'Alice', 'age': 30, 'profession': 'Data Scientist'}

value = record.pop('age')
print(value)     # 30
print(record)    # {'name': 'Alice', 'profession': 'Data Scientist'}

# If key doesn't exist:
record.pop('city', 'Not Found')   # returns 'Not Found'
#record.pop('gender')              # ❌ raises KeyError

30
{'name': 'Alice', 'profession': 'Data Scientist'}

'Not Found'

In [17]:
#11. .popitem() : Removes and returns the last inserted (key, value) pair as a tuple.
record = {
    'name': 'Alice',
    'age': 30,
    'profession': 'Data Scientist'
}

item = record.popitem()
print(item)      # ('profession', 'Data Scientist')
print(record)    # {'name': 'Alice', 'age': 30}

('profession', 'Data Scientist')
{'name': 'Alice', 'age': 30}

In [18]:
# If dict is empty:
empty = {}
#empty.popitem()  # ❌ KeyError

In [32]:
mydict1 = {
    1: "Mohammad Areeb Ahmad",
    2: "Ricardo Kaka",
    3: "Lionel Messi",
    4: "Ronaldo"
}
mydict1

{1: 'Mohammad Areeb Ahmad', 2: 'Ricardo Kaka', 3: 'Lionel Messi', 4: 'Ronaldo'}

In [20]:
mydict1[1]

'Mohammad Areeb Ahmad'

In [21]:
mydict1[3]

'Lionel Messi'

In [33]:
mydict1.update({4:"Pele"})

In [34]:
mydict1

{1: 'Mohammad Areeb Ahmad', 2: 'Ricardo Kaka', 3: 'Lionel Messi', 4: 'Pele'}

In [36]:
mydict1.update({2:"Kafu",5:"Zidane",6:"Marcelo"})
mydict1

{1: 'Mohammad Areeb Ahmad',
 2: 'Kafu',
 3: 'Lionel Messi',
 4: 'Pele',
 5: 'Zidane',
 6: 'Marcelo'}